# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are 
1. PYTHON
2. SQL

Some of the commonly used libraries used by Data Scientists include
1. NUMPY
2. PANDAS
3. TENSORFLOW
4. PYTORCH

Data Science Tools
|Jupyter notebook| Rstudio | excell

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
(3*4)+5

17

 This a simple arithmetic expression to mutiply then add integers

In [21]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [22]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

# Objectives
* Data Science Tools
* libraries
* languages

Author

# JOSHUA.H